* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

html {
  background-image: url(assests/bg10.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: rgb(37, 37, 37);
}

.height {
  height: 90vh;
}

header {
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
header h1 {
  margin-top: 20px;
  font-family: "Special Elite", cursive;
  font-size: 60px;
  margin-bottom: 20px;
  color: #1c0f0b;
  text-shadow: 3px 3px #fffaf4, -3px -3px #f8c294, 0px 5px #f8c294, 5px 0px #fffaf4;
}
header .search {
  display: flex;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px;
}
header .search--input {
  border: none;
  width: 240px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 15px;
  padding-left: 20px;
  background-color: #fffaf4;
  font-size: 15px;
}
header .search--input:focus {
  outline: none;
}
header .search--input:hover ~ .search--button {
  color: #97c693;
}
header .search--button {
  width: 40px;
  background-color: #fffaf4;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
header .search--button:hover {
  cursor: pointer;
  color: #97c693;
}

#output {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bookcard {
  margin: 20px;
  padding: 30px;
  background-color: #fffaf4;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  width: 80%;
  border-radius: 5px;
  display: flex;
}
.bookcard--img {
  border-radius: 2px;
  width: 150px;
  height: 230px;
  margin-right: 20px;
}
.bookcard--title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.bookcard--author {
  color: black;
  margin-top: 0px;
}
.bookcard--description {
  color: black;
  max-height: 216px;
  overflow: scroll;
  margin-bottom: 0px;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 10px;
  overflow-x: hidden;
}
.bookcard--button {
  margin-top: 10px;
  width: 148px;
  background-color: #f4ebe0;
  border: 1px solid #1c0f0b;
  border-radius: 5px;
  box-shadow: #1c0f0b 1px 2px 0 0;
  color: #1c0f0b;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.bookcard--button:hover {
  cursor: pointer;
}
.bookcard--button--icon {
  padding-left: 5px;
}
.bookcard--button:hover .bookcard--button--icon {
  color: #97c693;
}
.bookcard--button:active {
  transform: translate(1px, 2px);
}
.bookcard--error {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  font-style: italic;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 500px) {
  .bookcard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bookcard--button {
    margin-bottom: 15px;
  }
  .bookcard--img {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  .bookcard--description {
    text-align: left;
  }
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #fffaf4;
}
::-webkit-scrollbar-thumb {
  background: #1c0f0b;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #dccdbb;
}/*# sourceMappingURL=styles.css.map */